<div id="contato" class="contact flex column crossCenter">
  <app-title content="entre em contato"></app-title>
  <form class="flex column crossCenter" (ngSubmit)="onContact()">
    <input type="text" name="name" placeholder="Nome" [(ngModel)]="name" />
    <input type="email" name="email" placeholder="E-mail" [(ngModel)]="email" />
    <textarea
      name="text"
      name="text"
      rows="10"
      placeholder="Digite sua mensagem"
      [(ngModel)]="text"
    ></textarea>
    <app-button content="ENTRAR EM CONTATO" type="cta"></app-button>
  </form>
</div>
