.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
  &.mainCenter {
    justify-content: center;
  }
  &.mainBetween {
    justify-content: space-between;
  }
  &.mainAround {
    justify-content: space-around;
  }

  &.crossCenter {
    align-items: center;
  }
  &.crossBetween {
    align-items: space-between;
  }
  &.crossAround {
    align-items: space-around;
  }
}
