$desktop: 1280px;
// Fonts
$serifFont: "Merriweather", serif;
$displayFont: "Major Mono Display", sans-serif;
$display: 400 3rem/100% $displayFont;
$title: 700 2.25rem $serifFont;
$link: 700 1rem $serifFont;
$text: 400 1rem/140% $serifFont;

// Colors
$primary1: #f5c7de;
$primary2: #fceef5;

$secondary1: #1b0912;
$secondary2: #361727;
$secondary3: #532d40;

$enphasis1: #d92682;
$enphasis2: #d65c9b;
$enphasis3: #d98cb4;
