$desktop: 1280px;
// Fonts
$serifFont: "Merriweather";
$displayFont: "Major Mono Display";
$display: 400 3rem $displayFont, sans-serif;
$title: 700 2.25rem $serifFont, serif;
$link: 700 1rem $serifFont, serif;
$text: 400 1rem $serifFont, serif;

// Colors
$primary1: #f5c7de;
$primary2: #fceef5;

$secondary1: #1b0912;
$secondary2: #361727;
$secondary3: #532d40;

$enphasis1: #d92682;
$enphasis2: #d65c9b;
$enphasis3: #d98cb4;
