@import "./variables";
@import "./mixins";
@import "./reset";
@import "./flex";

p {
  font: $text;
  color: $secondary3;
  & + p {
    margin-top: 1rem;
  }
}

@keyframes grow {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(initial);
  }
}

@media (max-width: 760px) {
  :root {
    font-size: 70%;
  }
}
