<header id="hero" class="header flex mainBetween crossCenter">
  <a href="#"> <img class="logo" src="assets/eCare.svg" alt="eCare logo" /> </a>
  <div class="nav flex" [ngClass]="openMenu ? 'show' : ' '">
    <ul class="flex crossCenter">
      <li (click)="onNavigate()" class="nav-item">
        <a href="#sobre">sobre</a>
      </li>
      <li (click)="onNavigate()" class="nav-item">
        <a href="#endereco">localização</a>
      </li>
      <li (click)="onNavigate()" class="nav-item">
        <a href="#contato">contato</a>
      </li>
    </ul>
    <div class="buttonContainer flex column">
      <app-button content="AGENDAR" type="header"></app-button>
      <app-button
        content="FECHAR"
        class="closeNav"
        (click)="toggleMenu()"
      ></app-button>
    </div>
  </div>
  <app-button content="ABRIR" class="closeNav" (click)="toggleMenu()"
    >MENU</app-button
  >
</header>
