<div class="hero flex crossCenter">
  <img
    src="assets/hero-photo.png"
    alt="Mulher em um salão de belez tendo seu cabelo escovado"
  />
  <div class="textContainer flex column">
    <app-title
      content="agende seu horário
e se transforme"
      type="h1"
    ></app-title>
    <p>
      Conheça já o melhor tratamento de cabelos na cidade de Marília, contamos
      com equipamentos sofisticados que podem mudar sua beleza completamente.
    </p>
    <p>Além de cabelos, também fazemos procedimentos estéticos.</p>
    <app-button content="AGENDAR" type="cta"></app-button>
  </div>
</div>
