<div id="sobre" class="about flex mainCenter">
  <div class="textContainer flex column mainCenter crossCenter">
    <app-title content="quem somos"></app-title>
    <p>
      Estamos no mercado da beleza desde 1995. Inovamos diversas vezes na
      maneira de se transformar e reiventar a estética. Nossos clientes estão
      sempre muito satisfeitos com tudo o que podemos lhes oferecer.
    </p>
    <p>
      E recentemente resolvemos adotar o agendamento para ter uma maneira de
      gerenciar melhor e atender os clientes de maneira eficaz e calorosa. Venha
      inovar com a gente pra ficarmos cada vez mais belos
    </p>
  </div>
</div>
