@import "../../../sass/styles.scss";

.button {
  display: block;
  font: $text;
  padding: 1rem 2rem;
  background: none;
  border: none;
  cursor: pointer;
  &:hover {
    @include animated-border-bottom($enphasis1);
  }
  &-header {
    border: 2px solid $enphasis1;
    color: $enphasis1;
    margin-left: 1rem;
  }
  &-auth {
    color: $secondary1;
    font-weight: 700;
    text-decoration: underline;
  }
  &-cta {
    border: 2px solid $secondary1;
    color: $secondary1;
    margin-top: 1rem;
    &:hover {
      @include animated-border-bottom($secondary1);
    }
    &:focus {
      border: 2px solid $enphasis1;
      color: $enphasis1;
    }
  }
}
